<h1>There are {{count}} words in your text</h1>
<a href="{% url 'home'%}">start again</a>
<h2>Your Text</h2>
{{fulltext}}
<h1>word count:<h1>
{% for word ,counttotal in Sortedwords%}
{{ word }}-{{counttotal}}
<br />


{%endfor%}
