<h1>WORD COUNT</h1>
<a href="{% url 'about' %}">about</a>
<form action="{% url 'count' %}">

  <textarea name="fulltext" rows="8" cols="80"></textarea>
  <br />
  <input type="submit" name="" value="count!"/>
